HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

#dev files & folders
/src/main/resources/templates/Admin/
/src/main/resources/templates/example/
/src/main/java/com/venturegardengroup/foodvendorapplication/temp_trash/
/src/main/java/com/venturegardengroup/foodvendorapplication/services/example/
/src/main/java/com/venturegardengroup/foodvendorapplication/resources/example/
/src/main/java/com/venturegardengroup/foodvendorapplication/repositories/example/
/src/main/java/com/venturegardengroup/foodvendorapplication/models/example/
/src/main/java/com/venturegardengroup/foodvendorapplication/controllers/example/

#development H2 database files
/database.mv.db
/database.trace.db
