<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Customers</h2>
<ul>
    <li th:each="customer: ${customers}">
        <a th:href="@{/customers/{id}(id=${customer.id})}">
            <span th:text = "${customer.firstName}">Full</span>
            <span th:text = "${customer.lastName}">Name</span>
        </a>
    </li>
</ul>

<h2>Create new Customers</h2>

<form method="post" th:action="@{/customer}">
    <input type="text" name="firstName" />
    <input type="text" name="lastName" />
    <input type="text" name="phoneNumber" />
    <input type="number" name="accountBalance" />
    <input type="submit" value="Add new Customer"/>
</form>
</body>
</html>