<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="${title}">Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>hello</h1>-->
<!--&lt;!&ndash;<h2 th:text="${fullName}">testi</h2>&ndash;&gt;-->

<!--&lt;!&ndash;<h2 th:text="${event}">example object</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<h2 th:text="${event.name}">example object field</h2>&ndash;&gt;-->

<!--<h2 th:text="${list}">example object field</h2>-->
<!--<ol>-->
<!--    <li th:each="eventList : ${list}">-->
<!--        <span th:text="${eventList.name}">Esimerkkihenkilö</span>-->
<!--    </li>-->
<!--</ol>-->

<!--<form th:action="@{/}" method="POST">-->
<!--    <input type="text" name="name"/>-->
<!--    <textarea name="message" cols="30" rows="10"></textarea>-->
<!--    <input type="submit"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->