<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--</head>-->
<!--<body>-->
<!--<h1>hello</h1>-->

<!--<ol>-->
<!--    <li th:each="personList : ${list}">-->
<!--        <a th:href="@{'/persons/'+ ${personList.id}}">-->
<!--            <span th:text="${personList.name}">no Person added yet</span>-->
<!--        </a>-->
<!--    </li>-->
<!--</ol>-->

<!--<form th:action="@{/person}" method="POST">-->
<!--    <input type="text" name="name"/>-->
<!--    <textarea name="message" id="" cols="30" rows="10"></textarea>-->
<!--    <input type="submit"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->