<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${messageStatus.name}"> </title>
</head>
<body>
<h2 th:text="${'All '+ messageStatus.name + 'notifications'}"></h2>

<table>
    <thead>
    <tr>
        <th>Business name
        <th>Customer name
        <th>Order id
        <th>Message
        <th>Date time
    <tbody>
    <tr th:each="notification: ${messageStatus.notifications}">
        <td th:text="${notification.vendorId.businessName}">
        <td th:text="${notification.customerId.fullName}">
        <td th:text="${notification.orderId.id}">
        <td th:text="${notification.message}">
        <td th:text="${notification.dateTimeCreated}">
</table>
</body>
</html>