<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message Status</title>
</head>
<body>
<h2>Message Status List</h2>
<ul>
    <li th:each="messageStatus: ${messageStatuses}">
        <a th:href="@{/message-statuses/{id}(id=${messageStatus.id})}">
            Id: <span th:text = "${messageStatus.id}"></span>
            Name: <span th:text = "${messageStatus.name}"></span>
        </a>
    </li>
</ul>

<h2>Create new Message status</h2>
<form method="post" th:action="@{/message-status}">
    <label>Name:
        <input type="text" name="name" />
    </label>
    <input type="submit" value="Add new Vendor"/>
</form>
</body>
</html>